@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply mx-auto bg-pureWhite dark:bg-darker;
  font-family: 'Playfair Display', 'Segoe UI', 'Helvetica Neue', 'Arial';
}

.playfair {
  font-family: 'Playfair Display', 'Segoe UI', 'Helvetica Neue', 'Arial';
}

.source-sans-pro {
  font-family: 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', Arial;
}

.georgia {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.c-card img {
  transition: transform 0.3s ease-in-out;
}
.c-card:hover img {
  transform: scale(1.05);
}
.c-card img {
  transition: transform 0.3s ease-in-out;
}
.c-card:hover img {
  transform: scale(1.05);
}
